* {
  box-sizing: border-box;

  --header-height: 44px;
  --text-light-color: #fff;
  --text-dark-color: #333;
  --bg-dark-color: black;
  --bg-light-color: white;
  --a-color: #3bf;
  --init-padding: 10px;
}

/* 
 * Base elements
 * */

body {
  color: white;
  font-family: 'Roboto', sans-serif;    
  font-size: 11pt;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.2em;
  font-weight: 900;
  margin: 0;
}

h2 {
  font-size: 2em;
  font-weight: 900;
}

h3 {
  font-size: 1.4em;
  font-weight: 500;
}
p {
  font-weight: 300;
}

a,
a:visited{
  color: var(--a-color);
}

main {
  color: var(--text-dark-color);
  margin-bottom: 150px;
}

/*
 * Base classes 
 * */

.container {
  margin: 0 auto;
  max-width: 1024px;
  padding: var(--init-padding);
}

.anchor {
  position: relative;
  top: calc(0px - var(--header-height));
  left: 0;

  display: block;
}


/* 
 * Header
 * */
 
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;

  background: var(--bg-dark-color);
  height: var(--header-height);
  width: 100%;
}

.inner-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-nav-ul {
  margin: 0;
  padding: 0;
}

.main-nav-ul li {
  font-weight: 100;
  display: inline-block;
  margin: 0 var(--init-padding);
}

.main-nav-link,
.header-link {
  color: var(--text-light-color) !important;
  text-decoration: none;
}

.main-nav-link:hover{
  color: #ddd !important;
}


/* 
 * Banner
 * */
  
.banner {
  position: relative;

  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.banner-text {
  position: relative;
  z-index: 1;
}

.lead {
  font-size: 5em;
  font-weight: 900;
  margin: 0;
  text-align: center;
}

.sublead {
  font-size: 2em;
  font-weight: 100;
  margin: 0;
  text-align: center;
}

#banner-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  height: 100%;
  object-fit: cover;
  width: 100%;
}


/* 
 * About
 * */

#about-container {
  position: relative;

  background: linear-gradient(rgba(0,0,0,.8) 0%, rgba(0,0,0,.8) 0%), url(http://api.thumbr.it/whitenoise-361x370.png?background=4ea6ca00&noise=626262&density=15&opacity=40);
  color: white;
  overflow: hidden;
}

#about-container:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  background-size: cover;
  background: url(https://sun9-42.userapi.com/c840529/v840529875/8a3d9/S-Mc4y0SCHg.jpg);
  content: "";
  filter: blur(10px);
  height: 100%;
  transform: scale(1.2);
  width: 100%;
}

#about {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.about-img {
  border-radius: 50%;
  box-shadow: 0 10px 30px rgba(0,0,0,.3);
  height: 100px;
  object-fit: cover;
  width: 100px;
}


/* 
 * Music
 * */

.songs {
   display: flex;
   flex-direction: column-reverse;
   padding-bottom: 50px;
   padding-top: 50px;
}

.song {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  position: relative;
}

.song-name {
  margin-top: 10px;
  margin-bottom: 15px;
}

.song-active {
  color: var(--text-light-color);
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  overflow: hidden;
  padding: 10px;
}

.song-active-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  background-size: cover;
  display: none;
  filter: blur(15px);
  height: 100%;
  transform: scale(1.2);
  width: 100%;
}

.song-active .song-active-background {
  display: block;
}

.song-cover {
  border-radius: 15px;
  box-shadow: 0 20px 50px rgba(0,0,0,.3);
  margin-right: 50px;
  object-fit: cover;
  width: 100%;
}

.song-cover-info-active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.song-info {
  display: none;
  padding: var(--init-padding);  
  background: var(--bg-dark-color);
  color: var(--text-light-color);
}

.song-info-active {
  display: block;
}

#socials {
  margin: 0;
  padding: 0;
}

.social-li {
  display: block;
  margin: 0;
  padding: 5px 0px;
}

.social-icon {
  height: 1em;
  margin-right: 5px;
  width: 1em;
}

.social-link{
  align-items: center;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.section-header {
  text-align: center;
}

.song-links {
  margin-left: 10px;
}

.song-link {
  text-decoration: none;
}

.song-date {
  color: #666;
  font-size: 0.9em;
}

.song-panel {
  background: linear-gradient(180deg, #00000000 0%,  #00000066 20%, #000000 100%);
  padding: 10px 10px;
  color: var(--text-light-color);
  margin-top: -107px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.song-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.song-button {
  border: none;
  border-radius: 5px;
  padding: 10px 12px;
  font-size: inherit;
  background: #fa4416;
  box-shadow:0 10px 20px #00000024;
  color: var(--text-light-color);
  cursor: pointer;
  width: 150px;
}

.song-play-button {
  background: #fa4416;
}

.song-button-text {
  font-weight: 500;
  margin-left: 10px;
}

.song-button-hidden {
  display: none;
}

.song-social-icon {
  display: block;
  height: 32px;
  width: auto;
}

.song-link-text {
  display: none;
}

.song-info-button {
  background: var(--bg-light-color);
  width: 36px;
  margin-left: auto;
  color: var(--text-dark-color);
  padding: 10px;
}

/*
 * Player
 * */

#player-container {
  position: fixed;
  bottom: -93px;
  left: 0;
  z-index: 4;

  background: var(--bg-light-color);
  color: var(--text-dark-color);
  transition: .2s transform .1s ease-in;
  width: 100%;
}

.player-active {
  transform: translateY(-93px);
}

#player {
  display: flex;
  flex-direction: row;
}

#player-track-cover {
  display: block;
  object-fit: cover;
  height: 59px;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.player-info-and-player {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.player-controls {
  width: 100%;
  height: 40px;
}

.player-controls::-webkit-media-controls-panel {
  padding: 0;
}

.player-controls::-webkit-media-controls-current-time-display {
  display: none;
}

.player-controls::-webkit-media-controls-time-remaining-display {
  display: none;
}

.player-controls::-webkit-media-controls-enclosure {
  background: white;
  border-radius: 0;
}

#player-track-info {
  display: flex;
  flex-direction: row;
}

#player-track-name {
  font-weight: 500;
  margin-right: 10px;
}
