<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,900&display=swap&subset=cyrillic" rel="stylesheet">
  <link media="all" rel="stylesheet" href="/css/default.css" type="text/css" />
  <title>River</title>
</head>
<body>
  <header>
    <div class="container inner-header">
      <a class="header-link" href="#">
        <h1>River</h1>
      </a>
      <nav class="main-nav">
        <ul class="main-nav-ul">
          <li>
            <a class="main-nav-link" href="#about-anchor">Обо мне</a>
          </li>
          <li>
            <a class="main-nav-link" href="#music-anchor">Треки</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <section class="banner">
    <div class="banner-text">
      <p class="lead">River</p>
      <p class="sublead">Молодой реп исполнитель из России</p>
    </div>
    <video id="banner-video" src="/media/Banner.mp4" muted autoplay loop>
  </section>
  <main>
    <div id="about-container">
      <a class="anchor" name="about-anchor"></a>
      <div class="container"> 
        <section id="about">
          <img class="about-img" src="https://sun9-42.userapi.com/c840529/v840529875/8a3d9/S-Mc4y0SCHg.jpg">
          <div class="about-text">
            <h2>Александр Князев</h2>
            <!--lorem-->
            <p>
              Aliquam euismod, odio tortor pellentesque odio, ac ultrices enim nibh sed
              quam. Integer tortor velit, condimentum a, vestibulum eget, sagittis nec,
              neque. Aenean est urna, bibendum et, imperdiet at, rhoncus in, arcu. In hac
              habitasse platea dictumst. Vestibulum blandit dignissim dui. Maecenas vitae
              magna non felis ornare consectetuer. Sed lorem. Nam leo. In eget pede. Donec
              porta.
            </p>
            <!--/lorem-->
            <ul id="socials">
              <li class="social-li">
                <a href="https://vk.com/riiiveeer11" class="social-link">
                  <img src="/media/vk-icon.webp" alt="" class="social-icon" />
                  Страница VK
                </a>
              </li>
              <li class="social-li">
                <a href="https://vk.com/river-pub" class="social-link">
                  <img src="/media/vk-icon.webp" alt="" class="social-icon" />
                  Группа VK
                </a>
              </li>
              <li class="social-li">
                <a href="https://www.instagram.com/riiiveeer11/" class="social-link">
                  <img src="/media/instagram-icon.webp" alt="" class="social-icon"/>
                  Instagram
                </a>
              </li>
              <li class="social-li">
                <a href="https://soundcloud.com/riiiveeer11" class="social-link">
                  <img src="/media/soundcloud-icon.png" alt="" class="social-icon"/>
                  Soundcloud
                </a>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
    <div class="music-container">
      <a class="anchor" name="music-anchor"></a>
      <div class="container">
        <section id="music">
          <h2 class="section-header">Треки</h2>
          <div class="songs">
            <article class="song">
              <img class="song-cover" src="/media/RiverSteny.jpg" alt="" />
              <div class="song-info"> 
                <h3>Стены</h3>  
                <audio class="song-player" src="/media/River -- Стены.mp3" controls></audio>
                <p>
                  Aliquam euismod, odio tortor pellentesque odio, ac ultrices enim nibh sed
                  quam. Integer tortor velit, condimentum a, vestibulum eget, sagittis nec,
                </p>
                <a class="song-link social-link"  href="https://soundcloud.com/riiiveeer11/river-steny">
                  <img src="/media/soundcloud-icon.png" alt="" class="social-icon"/>
                  Слушать на Soundcloud
                </a>
                <p class="song-date">08.03.19</p>
              </div>
              <div class="song-active-background"></div>
            </article>
            <article class="song">
              <img class="song-cover" src="/media/RiverSummer.jpg" alt="" />
                <div class="song-info">
                  <h3>Summer</h3>
                  <audio class="song-player" src="/media/River -- Summer.mp3" controls></audio>
                  <p>
                    Aliquam euismod, odio tortor pellentesque odio, ac ultrices enim nibh sed
                    quam. Integer tortor velit, condimentum a, vestibulum eget, sagittis nec,
                  </p>
                  <a class="song-link social-link" href="https://soundcloud.com/riiiveeer11/summer-prod-by-cold-dwyer">
                    <img src="/media/soundcloud-icon.png" alt="" class="social-icon"/>
                    Слушать на Soundcloud
                  </a>
                  <p class="song-date">08.03.19</p>
              </div>
              <div class="song-active-background"></div>
            </article>
          </div>
        </section>
      </div>
    </div>
  </main>
  <script src="/js/main.js" type="text/javascript"></script>
</body>
</html>
